<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<title>{% block title %} {% endblock %}</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sitio web desarrollado por IDS" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="IDS />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css', _external=True) }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{url_for('static', filename='/css/icomoon.css', _external=True)}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.css', _external=True)}}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{url_for('static', filename='/css/flexslider.css', _external=True)}}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css', _external=True)}}">

	<!-- Modernizr JS -->
	<script src="{{url_for('static', filename='/js/modernizr-2.6.2.min.js', _external=True)}}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="{{ url_for('home') }}">Tasty<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li class="active"><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{url_for('menu')}}">Menu</a></li>
							<li class="has-dropdown">
								<a href="{{url_for('gallery')}}">Gallery</a>
								<ul class="dropdown">
									<li><a href="#">Events</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Coffees</a></li>
								</ul>
							</li>
							<li><a href="{{url_for('reservation')}}">Reservation</a></li>
							<li><a href="{{url_for('about')}}">About</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		<!-- </div> -->
	</nav>

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url({{url_for('static', filename='images/hero_1.jpeg', _external=True)}});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>The Best Coffee <em>&amp;</em> Restaurant <em>in</em> Brooklyn</h1>
							<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	</head>
<body>
    {% block body %}

    {% endblock %}
<!-- jQuery -->
	<script src="{{url_for('static', filename='js/jquery.min.js', _external=True)}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename='/js/jquery.easing.1.3.js', _external=True)}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename='/js/bootstrap.min.js', _external=True)}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename='/js/jquery.waypoints.min.js', _external=True)}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename='/js/jquery.stellar.min.js', _external=True)}}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static', filename='/js/jquery.flexslider-min.js', _external=True)}}"></script>
	<!-- Main -->
	<script src="{{url_for('static', filename='/js/main.js', _external=True)}}"></script>

	</body>
</html>
